

 

  <nav class="navbar navbar-light" style="background-color: #a00000;">
    <div class="dropdown">
      <a class="btn btn-outline-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Fandoms
      </a>
      
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a routerLink="All-Fandom" class="dropdown-item" href="#">All Fandoms</a></li>
        <li><a class="dropdown-item" href="#">Anime & Manga</a></li>
        <li><a routerLink="BooksAndLiterture" class="dropdown-item" href="#">Books & Literature</a></li>
        <li><a class="dropdown-item" href="#">Cartoons & Comics & Graphic Novels</a></li>
        <li><a class="dropdown-item" href="#"> Celebrities & Real People</a></li>
        <li><a routerLink="Movie" class="dropdown-item" href="#">Movies</a></li>
        <li><a routerLink="Musicandband" class="dropdown-item" href="#">Music & Bands</a></li>
        <li><a routerLink="Other" class="dropdown-item" href="#">Other Media</a></li>
        <li><a class="dropdown-item" href="#">Theater</a></li>
        <li><a class="dropdown-item" href="#">TV Shows</a></li>
        <li><a class="dropdown-item" href="#">Video Games</a></li>
        <li><a class="dropdown-item" href="#">Uncategorized Fandoms</a></li>
      </ul>

     
      <a class="btn btn-outline-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Browse
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdwnMenuButton1">
        <li><a class="dropdown-item" href="#">Works</a></li>
        <li><a class="dropdown-item" href="#">Bookmarks</a></li>
        <li><a class="dropdown-item" href="#">Tags</a></li>
        <li><a class="dropdown-item" href="#">Collections</a></li>
      </ul>

      <a class="btn btn-outline-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        Search
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Works</a></li>
        <li><a class="dropdown-item" href="#">Bookmarks</a></li>
        <li><a class="dropdown-item" href="#">Tags</a></li>
        <li><a class="dropdown-item" href="#">People</a></li>
      </ul>

      <a class="btn btn-outline-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        About
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">About Us</a></li>
        <li><a class="dropdown-item" href="#">News</a></li>
        <li><a class="dropdown-item" href="#">FAQ</a></li>
        <li><a class="dropdown-item" href="#">Wrangling Guidelines</a></li>
        <li><a class="dropdown-item" href="#">Donate or Volunteer</a></li>
      </ul>

      

    </div>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-light" type="submit">Search</button>
    </form>
  </nav>