This is the home page!
<div class="row justify-content-center">
    <div class="col-4">
        <div class="card border-light mb-3">
            <div class="card-header text-danger">Find your favorites</div>
              <div class="card-body">
                <p class="card-text">
                  <div class="row">
                  <div class="col-6">
                    > All Fandoms
                  </div>
                  <div class="col-6">
                    > Anime & Manga
                  </div>  
                  </div>
                  <div class="row">
                  <div class="col-6">
                    > Books & Literature
                  </div>
                  <div class="col-6">
                    > Cartoons & Comics & Graphic Novels
                  </div> 
                  </div> 
                  <div class="row">
                  <div class="col-6">
                    >Celebrities & Real People
                  </div>
                  <div class="col-6">
                    > Movies
                  </div>  
                  </div>
                  <div class="row">
                  <div class="col-6">
                    > Music & Bands
                  </div>
                  <div class="col-6">
                    > Other Media
                  </div> 
                 </div>
                  <div class="row">
                  <div class="col-6">
                    >  Theater
                  </div>
                  <div class="col-6">
                    > TV Shows
                  </div>  
                  </div>
                  <div class="row">
                  <div class="col-6">
                    >Video Games
                  </div>
                  <div class="col-6">
                    > Uncategorized Fandoms
                  </div>  
                </div>           
            </div>
          
          
          
          </div>

          <div class="card">
            <div class="card-header text-danger">News</div>
            <div class="card-body">
              <u class="card-title">Thanks for Participating in International Fanworks Day 2022</u>
              <p class="card-text">Published: Thu 17 Feb 2022 01:28PM EST Comments: 9 </p>
                <p class="card-text">
                Another International Fanworks Day has gone by and once again, we at the Organization for Transformative Works are grateful for the enthusiasm and participation of our visitors. IFD is all about celebrating the creativity of the fandom community and it was on full display this year!
              </p>              
              <div class="position-absolute bottom-0 end-0">
                <u> Read More!</u>
                 </div>
                  
            </div>
          
          </div>
          <div class="card">
            <div class="card-body">
              <u class="card-title">It's International Fanworks Day 2022!
                </u>
              <p class="card-text">
                Published: Mon 14 Feb 2022 03:59PM EST Comments: 24
              </p>
                <p class="card-text">
                  Hurray! It’s International Fanworks Day, our annual opportunity to celebrate all things fanworks and fandom. As is now traditional every February 15, the OTW will be celebrating with a chatroom games marathon, hosted on Discord: you can find all the details below. And remember to check out our previous post for details of the rest of our #IFD2022 celebrations!
              </p>              
              <div class="position-absolute bottom-0 end-0">
                <u> Read More!</u>
                 </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <u class="card-title">International Fanworks Day Feedback Fest 2022
                </u>
              <p class="card-text">
                Published: Sun 13 Feb 2022 10:31AM EST Comments: 1487
              </p>
                <p class="card-text">
                  We've all built our own personal canons – the fics, vids, art and other works that we love and go back to, time and time again. In January, we told you the theme of this year's International Fanworks Day was Fandom Classics, and we asked you to start compiling the fanworks that you consider to be essential reading, viewing or listening.
              </p>

              
              <div class="position-absolute bottom-0 end-0">
                <u> Read More!</u>
                 </div>
                  
            </div>
          </div>



  </div>
<div class="col-4">
  <div class="row">
      <div class="card-body">
        <h4 class="card-title">
          A fan-created, fan-run, nonprofit, noncommercial archive for transformative fanworks, like fanfiction, fanart, fan videos, and podfic</h4>
      </div>

      <div class="card text-DARK bg-light mb-3">
        <div class="card-body">
         
            <div class="col-12">
              With an AO3 account, you can:
            </div> 
            <div class="col-12">
              > Share your own fanworks
            </div> 
            <div class="col-12">
              > Get notified when your favorite works, series, or users update
            </div> 
            <div class="col-12">
              > Participate in challenges
            </div> 
             <div class="col-12">
              > Keep track of works you've visited and works you want to check out later
            </div> 
            <div class="col-12">
              You can join by getting an invitation from our automated invite queue. All fans and fanworks are welcome!
            </div>  
            <div class="row align-items-center">
              
              <button type="button" class="btn btn-outline-secondary center">Get Invited!</button>
            </div>
            
          </div>           
      </div>
    </div>
</div>
         
            
            



          
        </div>


<!-- -->