
        
      
   <div class="row align-items-start">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          {{typeofMedia}}
        </div>
        <div class="card-body">
          <p class="card-text">
           <p>
             {{title1}}</p>
          <p>
            {{title2}}</p>
            <p>

            {{title3}}</p>
            <p>
            {{title4}}</p>
            <p>
            {{title5}} 
             
          </p>
          <a href="#" class="btn btn-secondary ">{{typeofMedia}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          {{typeofMedia2}}
        </div>
        <div class="card-body">
          <p class="card-text">

            {{title12}}</p>
          <p>
            {{title22}}</p>
            <p>
            {{title32}}</p>
            <p>
            {{title42}}</p>
            <p>
            {{title52}} 
          
          </p>
          <a href="#" class="btn btn-secondary ">{{typeofMedia}}</a>
        </div>
      </div>
    </div>
  </div>

  

  