

  <div class="card" style="width: 80rem; height: 13rem;">
    <div class="card-header">

        <img src={{img}} class="img-fluid rounded-start" alt="...">
       {{author}}     
       <div class="position-absolute top-0 end-0">{{date}}</div>  
       
         <p class="h6">{{fandom}}</p>
       
    </div>
 
    <div class="card-body">
      
      <p><u>{{tags}}</u></p>
     <p>
       {{summery}}
     </p>
      <div class="position-absolute bottom-0 end-0">{{stats}} </div>
    </div>
  </div>

  

  