<div class="position-absolute top-1 end-0">
<div class="flex-shrink-0 p-3 " style="width: 400px; background-color:rgb(206, 205, 205);">
  <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="button" class="btn btn-outline-dark">Search and filter</button>
    </div>
  </a>
  Sort By
  <select class="form-select" aria-label="Default select example">

    <option value="1">Author</option>
    <option value="2">Title</option>
    <option value="3">Date Posted</option>
    <option value="4">Date Updated</option>
    <option value="5">Word Count</option>
    <option value="6">Hits</option>
    <option value="7">Kudos</option>
    <option value="8">Comments</option>
    <option value="9">Bookmarks</option>
  </select>
<p>

</p>
  <h6>Include</h6>


<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Ratings
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    General Audiences (23950)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Teen And Up Audiences (14799)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Not Rated (2860)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Mature (2632)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Explicit (526)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Warnings
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    No Archive Warnings Apply (30531)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Creator Chose Not To Use Archive Warnings (10479)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Major Character Death (3401)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Graphic Depictions Of Violence (2030)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Underage (403)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Catagories
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Gen (19066)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    F/M (1666)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    M/M (1208)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    F/F (196)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Other (191)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Multi (137)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Fandoms
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Harry Potter - J. K. Rowling (18538)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Fantastic Beasts and Where to Find Them (Movies) (1338)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Harry Potter and the Cursed Child - Thorne & Rowling (545)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Marvel Cinematic Universe (463)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Sherlock (TV) (400)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Supernatural (343)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    The Avengers (Marvel Movies) (306)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Buffy the Vampire Slayer (TV) (293)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Merlin (TV) (265)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Naruto (209)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Characters
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Harry Potter (16701)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Hermione Granger (8516)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Severus Snape (7719)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Sirius Black (7097)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Ron Weasley (6374)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Remus Lupin (6081)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Draco Malfoy (6023)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    James Potter (4420)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Albus Dumbledore (4399)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Lily Evans Potter (3770)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Relationships
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    James Potter/Lily Evans Potter (1598)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Sirius Black/Remus Lupin (1480)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Harry Potter/Ginny Weasley (1314)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Draco Malfoy/Harry Potter (1297)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Hermione Granger/Ron Weasley (1260)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Regulus Black & Sirius Black (576)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Hermione Granger & Harry Potter & Ron Weasley (572)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Harry Potter & Severus Snape (549)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Sirius Black & James Potter (498)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Sirius Black & Remus Lupin & Peter Pettigrew & James Potter (453)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Additional Tags
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Angst (3816)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Friendship (2890)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Humor (2645)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Alternate Universe - Canon Divergence (2485)
  
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Alternate Universe (2278)
  
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Fluff (2233)
  
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Drabble (1936)
   
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Marauders Era (Harry Potter) (1806)
 
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Crossover (1767)

  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    One Shot (1720)
  </li>
</ul>
</div>
<p>
  Other Tags to include
</p>
<div class="input-group input-group-sm mb-3">
  <span class="input-group-text" id="inputGroup-sizing-sm"></span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div>

<p>  
</p>
<h6>Exclude</h6>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Ratings
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    General Audiences (23950)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Teen And Up Audiences (14799)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Not Rated (2860)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Mature (2632)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Explicit (526)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Warnings
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    No Archive Warnings Apply (30531)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Creator Chose Not To Use Archive Warnings (10479)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Major Character Death (3401)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Graphic Depictions Of Violence (2030)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Underage (403)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Catagories
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Gen (19066)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    F/M (1666)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    M/M (1208)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    F/F (196)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Other (191)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Multi (137)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Fandoms
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Harry Potter - J. K. Rowling (18538)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Fantastic Beasts and Where to Find Them (Movies) (1338)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Harry Potter and the Cursed Child - Thorne & Rowling (545)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Marvel Cinematic Universe (463)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Sherlock (TV) (400)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Supernatural (343)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    The Avengers (Marvel Movies) (306)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Buffy the Vampire Slayer (TV) (293)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Merlin (TV) (265)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Naruto (209)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Characters
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Harry Potter (16701)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Hermione Granger (8516)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Severus Snape (7719)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Sirius Black (7097)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Ron Weasley (6374)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Remus Lupin (6081)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Draco Malfoy (6023)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    James Potter (4420)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Albus Dumbledore (4399)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Lily Evans Potter (3770)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Relationships
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    James Potter/Lily Evans Potter (1598)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Sirius Black/Remus Lupin (1480)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Harry Potter/Ginny Weasley (1314)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Draco Malfoy/Harry Potter (1297)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Hermione Granger/Ron Weasley (1260)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Regulus Black & Sirius Black (576)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Hermione Granger & Harry Potter & Ron Weasley (572)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Harry Potter & Severus Snape (549)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Sirius Black & James Potter (498)
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Sirius Black & Remus Lupin & Peter Pettigrew & James Potter (453)
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Additional Tags
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Angst (3816)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Friendship (2890)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Humor (2645)
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Alternate Universe - Canon Divergence (2485)
  
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Alternate Universe (2278)
  
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Fluff (2233)
  
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Drabble (1936)
   
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Marauders Era (Harry Potter) (1806)
 
  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    Crossover (1767)

  </li> 
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    One Shot (1720)
  </li>
</ul>
</div>
<p>
  Other Tags to exclude
</p>
<div class="input-group input-group-sm mb-3">
  <span class="input-group-text" id="inputGroup-sizing-sm"></span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div>

<p>

</p>
  <h6>More Options</h6>
  <p>
    <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
      Crossovers
    </button>
  </p>
  <div class="collapse" id="collapseWidthExample">
  <ul class="list-group">
    <li class="list-group-item list-group-item-dark">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      Include crossovers
    </li>
    <li class="list-group-item list-group-item-dark">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      Exclude crossovers
    </li>
    <li class="list-group-item list-group-item-dark">
      <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
      Show only crossovers
    </li>
  </ul>
  </div>
<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
    Completion Status
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
<ul class="list-group">
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
    All works
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
Complete works only
  </li>
  <li class="list-group-item list-group-item-dark">
    <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
Works in progress only
  </li>
</ul>
</div>

<p>
  <button class="btn btn-grey" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
   Date Updated
  </button>
</p>
<div class="collapse" id="collapseWidthExample">
  <p>
    From
  </p>
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm"></span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
  <p>
    To
  </p>
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm"></span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>

</div>


<div class="collapse" id="collapseWidthExample">
  <p>
    search within Results
  </p>
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm"></span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
  </div>
 </div>

 <p>
   Language
 </p>
 <select class="form-select" aria-label="Default select example">

  <option value="1">Basa Jawa</option>
  <option value="2">Cymraeg</option>
  <option value="3">Spanish</option>
  <option value="4">English</option>
  <option value="5">French</option>
  <option value="6">Duch</option>

</select>


</div>
</div>